/Treinamento2/nbproject/private/
/Treinamento2/build/
/Treinamento02/nbproject/private/
/Treinamento02/build/
/Treinamento01/nbproject/private/
/Treinamento01/build/
/Treinamento03/nbproject/private/
/Treinamento03/build/
/Treinamento04/nbproject/private/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/Treinamento04/build/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/
/ProjetoPessoas/nbproject/private/
/ProjetoPessoas/build/